footer{
    display: flex;
    flex-direction: column;
    font-family: OpenSans;
    color: #FF99F5;
    text-align: center;
}

#Icon_Container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}

.Icon{
    width: 3vw;
    border-bottom: 0.5vh solid transparent;
}

.Icon:hover{
    border-bottom: 0.5vh solid #FFEBFD;
}

img{
    width: 100%;
}

a{
    color: #FF99F5;
    align-self: center;
    font-size:medium;
    font-family: 'Open Sans', sans-serif;
}

a:hover{
    color: #FFEBFD;
}

p{
    margin: 1vh;
    font-size:medium;
    font-family: 'Open Sans', sans-serif;
}

@media screen and (max-width: 1921px){
    a{
        font-size: small;
    }

    p{
        font-size: small;
    }
}

@media screen and (max-width: 1025px){
    .Icon{
        padding: 2vw;
        width: 7.5vw;
    }
}

@media screen and (max-width: 768px){
    .Icon{
        padding-top: 3vw;
        padding-bottom: 3vw;
        padding-left: 4vh;
        padding-right: 4vh;
        width: 10vw;
    }
}