<footer>
    <p id="cta">Follow me and my creations anywhere !</p>
    <div id="Icon_Container"> 
        <a href="" class="Icon" (click)="Scoring()" target="_blank"><img src="/assets/images/icons/imgur.png"></a>
        <a href="" class="Icon" (click)="Scoring()" target="_blank"><img src="/assets/images/icons/instagram.png"></a>
        <a href="" class="Icon" (click)="Scoring()" target="_blank"><img src="/assets/images/icons/facebook.png"></a>
        <a href="" class="Icon" (click)="Scoring()" target="_blank"><img src="/assets/images/icons/reddit.png"></a>
        <a href="https://www.youtube.com/" class="Icon" (click)="Scoring()" target="_blank"><img src="/assets/images/icons/youtube.png"></a>
        <a href="" class="Icon" (click)="Scoring()" target="_blank"><img src="/assets/images/icons/tumblr.png"></a>
        <a href="" class="Icon" (click)="Scoring()" target="_blank"><img src="/assets/images/icons/twitter.png"></a>
        <a href="" class="Icon" (click)="Scoring()" target="_blank"><img src="/assets/images/icons/tiktok.png"></a>
    </div>
    <a (click)="Scoring()">Privacy policy</a>
    <p>© Copyright 2021 Malick Ndiaye</p>
</footer>