<div id="Profile">
    <div class="Picture">
        <img src="/assets/images/Profile_Pictures/Cappsule.png">
    </div>
    <p id="Title">Cappsule</p>
    <p id="Description">
        Cappsule is my first mobile app. It's a simple wardrobe organizer  aimed at minimalists which lets you log your clothes by simply taking pictures and then categorizing them. After that Cappsule will compose possible outfits for you based on your conditions. It was made in my second year of college to help with the daily task of choosing an outfit. It's also completely free with no ads or in-app purchases so make sure to give it a try !
    </p>
        <a href="https://play.google.com/store/apps/details?id=mn10games.cappsule.wardrobe" target="_blank" class="Picture"><img src="/assets/images/Badges/Google Play.png" (click)="Scoring()"></a>
</div>
