#Profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2.5vh;
}

.Picture{
    width: 25%;
}

img{
    width: 100%;
}

#Title{
    font-family: 'Itim', cursive;
    color: #FFEBFD;
    font-size: 3.5em;
    margin: 2vh;
}

#Description{
    margin-left: 5vw;
    margin-right: 5vw;
    text-align: justify;
    color: #FFEBFD;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0;
    margin-bottom: 2.5vh;
    font-size: x-large;
}

a{
    border-bottom: 0.5vh solid #ffebfd00;
}

@keyframes iconhoveranim{
    from {border-bottom: 0.5vh solid transparent;}
    to {border-bottom: 0.5vh solid #FF99F5;}
}

a:hover{
    animation-name: iconhoveranim;
    animation-duration: .5s;
    border-bottom: 0.5vh solid #FF99F5;
}

@media screen and (max-width: 2549px){
    #Title{
        font-size: xx-large;
    }

    #Description{
        font-size: 1em;
    }
}

@media screen and (max-width: 1025px){
    .Picture{
        width: 35%;
    }
}

@media screen and (max-width: 768px){
    #Title{
        font-size: x-large;
    }

    #Description{
        font-size: medium;
    }
}

@media screen and (max-width: 576px){
    .Picture{
        width: 50%;
    }
}

@media screen and (max-width: 480px){
    .Picture{
        width: 50%;
    }
}