html {
    scroll-snap-type: y mandatory;
}

* {
    margin: 0;
}

button {
    margin: auto;
    padding: .75%;
    font-family: Artifika_upload;
    font-size: 1.75vw;
    color: #262524;
    background-color: #FFF5F0;
    animation: pulse 1s infinite;
    animation-direction: alternate;
    cursor: pointer;
}

a {
    text-decoration: none;
}

@keyframes pulse {
    from {
        color: #FFF5F0
    }

    to {
        color: #262524
    }
}

@font-face {
    font-family: Artifika_upload;
    src: url(../fonts/Artifika/Artifika-Regular.ttf);
}

@font-face {
    font-family: OpenSans_upload;
    src: url(../fonts/OpenSans/OpenSans-Regular.ttf);
}



header {
    background-color: #37DEC2;
    position: fixed;
    top: 0%;
    width: 100%;
    display: flex;
    justify-content: center;
    opacity: .25
}

.Pages {
    padding-top: 1.375%;
    padding-left: 1.375%;
    padding-right: 1.375%;
    font-family: Artifika_upload;
    font-size: 1.25vw;
    color: #FFF5F0;
    white-space: nowrap;
    cursor: pointer;
}

#Pages_AboutMe {
    margin-left: 10%;
    margin-right: 10%;
}

#Pages_MyGames {
    margin-right: 10%
}

#Pages_MyApps {
    margin-left: 10%;
}

#Pages_ContactMe {
    margin-left: 10%;
}

#Logo {
    width: 4%;
}

.Flags {
    padding-top: 1.3%;
    padding-left: 1%
}

#Flag_en {
    padding-top: 1.3%;
    padding-left: 1%
}

#score {
    font-size: 2vw;
    font-family: Artifika_upload;
    color: #40FFEF;
    position: fixed;
    top: 11%;
    right: 2%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.overlay {
    z-index: 1;
    position: fixed;
    top: 15%;
    left: 22.5%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
    background-color: #30BFA7;
    font-family: OpenSans_upload;
    font-size: 2vw;
    text-align: center;
    opacity: 1;
    color: #262524
}

.emphasis {
    color: #FFF5F0
}

.Sparkles {
    background-image: url(../images/Sparkles.gif)
}

body {
    background-color: #262524;
}

.Full_Page {
    padding-top: 8%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 2%;
    display: flex;
    scroll-snap-align: start;
    opacity: .25
}

.opaque {
    opacity: 1
}

#Malick_Profile {
    display: flex;
    flex-direction: column;
    max-width: 25%;
    text-align: center;
}

#Name {
    font-family: Artifika_upload;
    font-size: 2.75vw;
    color: #FFF5F0;
    margin-top: 4%;
    margin-bottom: -6%;
}

#Pseudo {
    font-family: Artifika_upload;
    font-size: 2.75vw;
    color: #39E6C9;
}

.Text {
    margin-left: 4%;
    font-family: OpenSans_upload;
    font-size: 1.5vw;
    line-height: 155%;
    color: #FFF5F0
}

#FKM_Profile {
    display: flex;
    flex-direction: column;
    max-width: 25%;
    text-align: center;
}

#FKM_Items {
    display: flex;
    flex-direction: row;
    margin-top: 2.5%;
    height: 63.5%
}

#FKM_Trailer {
    width: 40%
}


#HSH_Trailer {
    height: 100%;
    width: 300%;
}

#FKM_App_Store {
    margin-bottom: 4%
}

#FKM_Play_Store {
    margin-top: 4%;
}

#FKM_Links {
    display: flex;
    flex-direction: column;
    margin-left: 13%;
    margin-top: 9%;
}

#Follow_HSH {
    color: #40FFEF;
    margin-left: 45%;
    margin-top: 15%;
    font-family: Artifika_upload
}

#newsletter {
    padding-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 2%;
    display: flex;
    scroll-snap-align: start;
    flex-direction: column;
    text-align: center;
    opacity: .25
}

#newsletter_title {
    font-family: Artifika_upload;
    font-size: 2.75vw;
    color: #40FFEF;
    margin-bottom: 2%
}

#contacts {
    margin-left: 4%;
    margin-right: 4%;
    display: flex;
    scroll-snap-align: start;
    flex-direction: column;
    text-align: center;
    font-family: OpenSans_upload;
    font-size: 2.75vw;
    color: #FFF5F0;
    opacity: .25;
    align-items: center;
}

#socials {
    display: flex;
    flex-direction: row;
}

.social_logos {
    width: 50%;
    margin: 15%
}

footer {
    background-color: #595756;
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    flex-direction: row;
    opacity: .25
}

#Privacy_Policy_Link {
    font-family: Artifika_upload;
    font-size: 1.5vw;
    line-height: 155%;
    color: #40FFEF;
    text-decoration: underline;
    cursor: pointer;
    margin-left: 58%
}

#privacy_policy {
    font-size: 1.25vw;
    top: 3%;
    display: none
}

#bonus {
    z-index: 1;
    position: fixed;
    top: 27.5%;
    left: 22.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: OpenSans_upload;
    font-size: 2vw;
    text-align: center;
    opacity: 1;
    color: #262524;
    width: 50%;
    height: 50%;
    display: none;
}

.outro {
    font-family: OpenSans_upload;
    font-size: 2vw;
    color: #FFF5F0
}

@media only screen and (orientation: portrait) {

    .overlay {
        top: 20%;
        left: 6.25%;
        width: 80%;
        font-size: 5vw;
    }

    button {
        padding: 1%;
        font-size: 5vw;
    }

    header {
        display: none
    }

    #score {
        font-size: 7.5vw;
        top: 2.25%;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .Full_Page {
        padding-top: 20%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 2%;
        flex-direction: column;
        text-align: center;
    }

    .Text {
        margin-left: 5%;
        font-size: 3.5vw;
    }

    #Malick_Profile {
        margin-left: 5%;
        margin-bottom: 5%;
        flex-direction: row;
        align-items: flex-start;
        text-align: right
    }

    #Malick_Pic {
        width: 200%
    }

    #Nom_Malick {
        text-align: center;
        padding-top: 80%;
        padding-left: 10%
    }

    #Name {
        font-family: Artifika_upload;
        font-size: 5vw;
        color: #FFF5F0;
        line-height: 150%;
        margin-top: 4%;
        margin-bottom: -4%;
    }

    #Pseudo {
        font-family: Artifika_upload;
        font-size: 5vw;
        color: #39E6C9;
    }

    #my_games {
        align-items: center;
    }

    #my_apps {
        margin-top: 20%;
        margin-bottom: 0%;
        align-items: center;
    }

    #FKM_Profile {
        max-width: 50%;
        padding-bottom: 5%
    }

    #FKM_Items {
        margin-top: 6%;
    }

    #FKM_Trailer {
        width: 60%
    }

    #FKM_App_Store {
        margin-bottom: 4%
    }

    .Store_Images {
        width: 100%
    }

    #FKM_Links {
        margin-left: 5%;
        margin-top: 2.5%
    }

    #Follow_HSH {
        display: none
    }

    #HSH_Trailer {
        height: 250%;
        width: 250%;
    }

    #HSH_Video {
        margin-left: 2%
    }

    #newsletter {
        padding-top: 5%;
    }

    #newsletter_title {
        font-size: 3vw;
    }

    #Privacy_Policy_Link {
        font-family: Artifika_upload;
        font-size: 3vw;
        line-height: 155%;
        color: #40FFEF;
        text-decoration: underline;
        cursor: pointer;
        margin-left: 15%
    }

    #privacy_policy {
        font-size: 3.75vw;
        top: 3%;
        display: none
    }

    #bonus {
        z-index: 1;
        position: fixed;
        top: 5%;
        left: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: OpenSans_upload;
        font-size: 2vw;
        text-align: center;
        opacity: 1;
        color: #262524;
        width: 90%;
        height: 90%;
        display: none;
    }

    .outro {
        font-size: 6.5vw;
    }
}
