html {
    scroll-snap-type: y mandatory;
}

* {
    margin: 0;
}

button {
    margin: auto;
    padding: 1%;
    font-family: Artifika_upload;
    font-size: 2vw;
    color: #262524;
    background-color: #FFF5F0;
    animation: pulse 1s infinite;
    animation-direction: alternate;
    cursor: pointer;
}

@keyframes pulse {
    from {
        opacity: .5
    }

    to {
        opacity: 1
    }
}

@font-face {
    font-family: Artifika_upload;
    src: url(../fonts/Artifika/Artifika-Regular.ttf);
}

@font-face {
    font-family: OpenSans_upload;
    src: url(../fonts/OpenSans/OpenSans-Regular.ttf);
}

header {
    background-color: #37DEC2;
    position: fixed;
    top: 0%;
    width: 100%;
    display: flex;
    justify-content: center;
    opacity: .25
}

.Pages {
    padding-top: 1.375%;
    padding-left: 1.375%;
    padding-right: 1.375%;
    font-family: Artifika_upload;
    font-size: 1.25vw;
    color: #FFF5F0;
    white-space: nowrap;
    cursor: pointer;
}

#Pages_AboutMe {
    margin-left: 10%;
    margin-right: 10%;
}

#Pages_MyGames {
    margin-right: 10%
}

#Pages_MyApps {
    margin-left: 10%;
}

#Pages_ContactMe {
    margin-left: 10%;
    margin-right: 10%
}

#Logo {
    width: 4%;
}

#score {
    font-size: 2vw;
    font-family: Artifika_upload;
    color: #40FFEF;
    position: fixed;
    top: 11%;
    right: 4.5%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.overlay {
    z-index: 1;
    position: fixed;
    top: 10%;
    left: 22.5%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
    background-color: #30BFA7;
    font-family: OpenSans_upload;
    font-size: 2vw;
    text-align: center;
    opacity: 1;
    color: #262524
}

.emphasis {
    color: #FFF5F0
}

.Sparkles {
    background-image: url(../images/Sparkles.gif)
}

body {
    background-color: #262524;
}

.Full_Page {
    padding-top: 8%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 2%;
    display: flex;
    scroll-snap-align: start;
    opacity: .25
}

.opaque {
    opacity: 1
}

#Malick_Profile {
    display: flex;
    flex-direction: column;
    max-width: 25%;
    text-align: center;
}

#Name {
    font-family: Artifika_upload;
    font-size: 2.75vw;
    color: #FFF5F0;
    margin-top: 4%;
    margin-bottom: -6%;
}

#Pseudo {
    font-family: Artifika_upload;
    font-size: 2.75vw;
    color: #39E6C9;
}

.Text {
    margin-left: 4%;
    font-family: OpenSans_upload;
    font-size: 1.5vw;
    line-height: 155%;
    color: #FFF5F0
}
