<nav>
    <div class="dropdown">
        <p onclick="">MY GAMES</p>
        <div class="dropdown_content">
            <a (click)="Scoring()" routerLink="/Free_Kick_Master" routerLinkActive="active">FREE KICK MASTER</a>
            <a (click)="Scoring()" routerLink="/Savanhike" routerLinkActive="active">SAVANHIKE</a>
        </div>
    </div>
    <a (click)="Scoring()" routerLink="/" routerLinkActive="active">ABOUT ME</a>
    <div class="dropdown">
        <p onclick="">MY APPS</p>
        <div class="dropdown_content">
            <a (click)="Scoring()" routerLink="/Cappsule" routerLinkActive="active">CAPPSULE</a>
        </div>
    </div>
</nav>