nav{
    position: fixed;
    top: 0;
    left: 0%;
    background-color: #9F008F;
    width: 100%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 2;
}

a{
    font-family: 'Itim', cursive;
    color: white;
    font-size:x-large;
    border-bottom: 0.25vh solid #ff99f500;
}

a:hover{
    color: #FF99F5;
}

p{
    font-family: 'Itim', cursive;
    color: white;
    font-size:x-large;
    margin: 0%;
    padding-left: 1vw;
}

p:hover{
    cursor: default;
}

.dropdown_content{
    display: none;
    position: absolute;
    background-color: #9F008F;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.089);
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    padding-top: 0.5vw;
}

.dropdown_content a{
    display: flex;
    text-align: left;
    margin-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 0.5vw;
    border-bottom-right-radius: 15%;
}

.dropdown:hover .dropdown_content{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1921px) {
    a{
        font-size:large;
    }

    p{
        font-size:large;
    }
}

@media screen and (max-width: 1500px) {
    nav{
        top: auto;
        bottom: 0;
    }

    a{
        font-size:x-large;
    }

    p{
        font-size:x-large;
    }

    .dropdown_content{
        bottom: 90%;
        box-shadow: none;
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;
        border-top-left-radius: 10%;
        border-top-right-radius: 10%;
        padding-bottom: 0.5vw;
        padding-top: 0;
    }

    .dropdown_content a{
        padding-top: 0.5vw;
        padding-bottom: 0;
    }
}

@media screen and (max-width: 450px) {
    nav{
        text-align: center;
    }

    a{
        font-size:x-large;
    }

    p{
        font-size:x-large;
    }
}