<div id="Profile">
    <div id="Intro">
        <div class="Picture">
            <img src="/assets/images/Profile_Pictures/FKM.png">
        </div>
        <iframe src="https://www.youtube.com/embed/GGKkaVWDey8?autoplay=1&mute=1&enablejsapi=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen mute=1></iframe>
    </div>
    <p id="Title">Free Kick Master</p>
    <p id="Description">
        Free Kick Master is, as its name implies, a soccer Free Kick mini game for mobile phones. It features a <mark>cross-platform competitive leaderboard</mark> for an "arcade" experience. As of my mission statement, FKM <mark>doesn't feature any ads or in-app purchases.</mark> It was made in my first year of college using Unity, Blender, Gravit Designer, Visual Studio and of course a lot of tutorials, trials, errors and dedication.
    </p>
    <div id="Badges">
        <a href="https://apps.apple.com/us/app/freekick-master-master-cup/id1547075129?itsct=apps_box_link&itscg=30200" target="_blank" class="Picture"><img src="/assets/images/Badges/App Store.png" (click)="Scoring()"></a>
        <a href="https://play.google.com/store/apps/details?id=mn10games.cappsule.wardrobe" target="_blank" class="Picture"><img src="/assets/images/Badges/Google Play.png" (click)="Scoring()"></a>
    </div>
</div>
