div{
    display: flex;
    text-align: center;
}

p{
    font-family: 'Itim', cursive;
    font-size: xx-large;
    margin: 0;
    position:fixed;
    right: 0;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    background-color: white;
    padding-left: 40vw;
    padding-right: 40vw;
    width: 100%;
    color: #9F008F;
    top: 4vh;
}

@media screen and (max-width: 1921px) {
    p{
        font-size: xx-large;
        top: 5vh;
    }
}

@media screen and (max-width: 1500px) {
    p{
        top:0;
    }
}

@media screen and (max-width: 768px){
    p{
        font-size: x-large;
    }
}