<div id="Profile">
    <div id="Intro">
        <div class="Picture">
            <img src="/assets/images/Profile_Pictures/Savanhike.png">
        </div>
        <iframe src="https://www.youtube.com/embed/IjdvDSFiaR4?autoplay=1&mute=1&enablejsapi=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen mute=1></iframe>
    </div>
    <p id="Title">Savanhike</p>
    <p id="Description">
        Savanhike is an upcoming action platformer set in the African wildlands. You must climb and fight your way out of the African savanna after getting lost at dusk with wild animals and mythical creatures roaming. You may compete with the community through cross-platform speedrunning leaderboards.
        It is due to release in Fall 2021 on both iOS and Android  devices.
    </p>
    <!-- <div id="Badges"> -->
        <a href="https://apps.apple.com/us/app/savanhike/id1563563103?itsct=apps_box_link&itscg=30200" target="_blank" class="Picture"><img src="/assets/images/Badges/App Store_PO.png" (click)="Scoring()"></a>
        <!-- <a href="https://play.google.com/store/apps/details?id=mn10games.cappsule.wardrobe" target="_blank" class="Picture"><img src="/assets/images/Badges/Google Play.png" (click)="Scoring()"></a> -->
    <!-- </div> -->
</div>
