<div id="Profile">
    <div id="Picture">
        <img src="/assets/images/Profile_Pictures/Malick.png">
    </div>
    <p id="Title">Malick Ndiaye</p>
    <p id="Description">
        Hi, I'm Malick a 20 year old gamer from Senegal.
        Having played games my whole life, I always dreamed of one day making my own. With no intentions of letting go of this goal, I traveled to France after my high-school graduation to take Software Engineering classes thus beginning my journey. 
        Now in my second year I have already released my first game <a href="">Free Kick Master</a> along with my first app <a href="">Cappsule</a>. I am now working on my second game <a href="">Savanhike</a> as you're reading this.
        All my creations are cheap, available on all mobile devices and devoid of ads or microtransactions so make sure to try them out !
    </p>
</div>
