html{
    height: 100vh;
}

body
{
    background-image: url('/assets/images/background.png');
    background-repeat: no-repeat; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0%;
    background-attachment: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    z-index: -1;
}

a{
    text-decoration: none;
}

@font-face {
    font-family: "Magnolia Script";
    src: local("Magnolia Script"), url(/src/assets/fonts/Magnolia\ Script.otf) format('opentype');
}