html{
    height: 100vh;
}

body
{
    background-image: url('/assets/images/background.png');
    background-repeat: no-repeat; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0%;
    background-attachment: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    z-index: -1;
}

a{
    text-decoration: none;
}

p::selection {
    background-color: #9F008F;
    color: #FFEBFD;
}

a::selection{
    background-color: #FFEBFD;
    color: #66005C;
}

mark::selection{
    background-color: #FFEBFD;
    color: #66005C;
}

.tooltip {
    position: relative;
  }
  
  /* Tooltip box */
  .tooltip:before {
    content: attr(data-tooltip); 
    position: absolute;
    width: 100px;
    background-color: #FFEBFD;
    color: #9F008F;
    text-align: center;
    padding: 10px;
    line-height: 1.2;
    border-radius: 6px;
    z-index: 1;
    opacity: 0;
    transition: opacity .6s;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    font-size: 0.875em;
    visibility: hidden;
  }
  
  /* Tooltip arrow */
  .tooltip:after {
    content: "";
    position: absolute;
    bottom: 75%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    opacity: 0;
    transition: opacity .6s;
    border-color: #FFEBFD transparent transparent transparent;
    visibility: hidden;
  }
  
  .tooltip:hover:before, .tooltip:hover:after {
    opacity: 1;
    visibility: visible;
  }

  .modal{
    position: fixed;
    top: 15vh;
    right: 30vw;
    left: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, rgba(255,153,245,1) 0%, rgba(255,235,253,1) 100%);
    text-align: justify;
    color: #9F008F;
    flex-direction: column;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    border-radius: 10%;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.089);
}

video{
    width: 30vw;
    border: 0.25vw solid #FFEBFD;
    border-radius: 2.5%;
    margin: 2vh;
}

@media screen and (max-width: 1921px) {
    .modal{
        padding-left: 3vw;
        padding-right: 3vw;
        padding-top: 3vh;
        padding-bottom: 3vh;
    }
}

@media screen and (max-width: 1200px) {
    .modal{
        right: 20vw;
        left: 20vw;
    }

    video{
        width: 40vw;
    }
}

@media screen and (max-width: 1026px) {
    .modal{
        right: 15vw;
        left: 15vw;
    }

    video{
        width: 45vw;
    }
}

@media screen and (max-width: 767px) {
    .modal{
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        padding: 0;
        border-radius: 0;
    }

    video{
        width: 50vw;
    }
}

@media screen and (max-width: 400px) {
    video{
        width: 50vw;
    }
}